$color-bg: #7c43c7;
$color-primary-dark: #8761FA;
$color-primary-light: #9a7afd;
$color-secondary-dark: #D454BA;
$color-secondary-light: #E35FDE;
$color-hybrid: #9346D2;
$color-white: #ffffff;
$color-light: #d8d2d2;
$color-grey: #7c8188;
$color-dark: #2c313c;
$color-black: #252931;

$font-accent: "Fraunces", "Georgia", serif;
$font-regular: "Outfit", "Trebuchet MS", sans-serif;

$default-line-height: 1.6;
$default-font-size: 62.5%;
$default-body-height: 100vh;

$text-primary: 9.6rem;
$text-regular: 1.5rem;